
.mobile-display {
    display: none
}

.desktop-display {
    display: block
}

@media (max-width:700px) {
    .desktop-display {
        display: none
    }

    .mobile-display {
        display: block
    }
}
